
{%extends 'events/base.html'%}
{%block content%}
    <h2>
      <div class="text" align="center" >Our Team</div>
    </h2>

  <div class="card" style="width: 96rem;">
    <table>
      <td>
    <img class="card-img-top" src="https://cdn.inflact.com/media/322951695_907003867129581_6218058695997496158_n.webp?url=https%3A%2F%2Fscontent.cdninstagram.com%2Fv%2Ft51.2885-15%2F322951695_907003867129581_6218058695997496158_n.webp%3Fstp%3Ddst-jpg_e35_p1080x1080%26_nc_ht%3Dscontent.cdninstagram.com%26_nc_cat%3D109%26_nc_ohc%3D7g6LEDT_nVYAX_FpSl_%26edm%3DAPs17CUBAAAA%26ccb%3D7-5%26oh%3D00_AfA7Q4T_tkLkh4LQISgBMjCsB4dRszYmycSJ5p_LyjyYZA%26oe%3D63E3E556%26_nc_sid%3D978cb9&time=1675562400&key=00bc650c3770d7527ef85305c10361ef" width="360px" height="360px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Anurag Kumar</h5>
      <!-- <p class="card-text-center"> Something </p> -->
      <img type ="button" id = "btnn" src="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png" width="12%" onclick="window.location.href='https://www.instagram.com/a4_anurag/'">
    </div>
    </div>
    </td>


    <td>
      <img class="card-img-top" src="https://cdn.inflact.com/media/326224177_715467903502718_5684043495658902371_n.webp?url=https%3A%2F%2Fscontent.cdninstagram.com%2Fv%2Ft51.2885-15%2F326224177_715467903502718_5684043495658902371_n.webp%3Fstp%3Ddst-jpg_e35_s1080x1080%26_nc_ht%3Dscontent.cdninstagram.com%26_nc_cat%3D102%26_nc_ohc%3Dt9NXhgQcxpgAX9q6iik%26edm%3DAPs17CUBAAAA%26ccb%3D7-5%26oh%3D00_AfDYHatlADn4bdqc1mgWp0dH5petsQB2_GBKERJ5F_aGag%26oe%3D63E31495%26_nc_sid%3D978cb9&time=1675562400&key=82ca3095903d188fda55d1fcc9ee2770"  width="360px" height="360px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ajay Jain</h5>
        <img type ="button" id = "btnn" src="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png" width="12%" onclick="window.location.href='https://instagram.com/ajay.jain04?igshid=YmMyMTA2M2Y='">

      </div>
    </td>


    <td>
      <img class="card-img-top" src="https://cdn.inflact.com/media/322049654_935412804091036_5928454105676786983_n.webp?url=https%3A%2F%2Fscontent.cdninstagram.com%2Fv%2Ft51.2885-15%2F322049654_935412804091036_5928454105676786983_n.webp%3Fstp%3Ddst-jpg_e35_p1080x1080%26_nc_ht%3Dscontent.cdninstagram.com%26_nc_cat%3D104%26_nc_ohc%3DJIH4UfATIMIAX9ugC2J%26edm%3DAPs17CUBAAAA%26ccb%3D7-5%26oh%3D00_AfDMuPxO8JmfLz1um5UwSsXrUOAdbudCY9pqdZZ9l-Gokg%26oe%3D63E36D36%26_nc_sid%3D978cb9&time=1675562400&key=d6335f0cd58b771a852fdbaa5a20c6a8"  width="360px" height="360px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jeet Jani</h5>
        <img type ="button" id = "btnn" src="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png" width="12%" onclick="window.location.href='https://instagram.com/jeet_jani11?igshid=YmMyMTA2M2Y='">

      </div>
    </td>

    
    <td>
      <img class="card-img-top" src="https://cdn.inflact.com/media/323806623_858822015237290_7681789587136833497_n.webp?url=https%3A%2F%2Fscontent.cdninstagram.com%2Fv%2Ft51.2885-15%2F323806623_858822015237290_7681789587136833497_n.webp%3Fstp%3Ddst-jpg_e35%26_nc_ht%3Dscontent.cdninstagram.com%26_nc_cat%3D102%26_nc_ohc%3D_n3IQ7DXltQAX9WYqJR%26edm%3DAPs17CUBAAAA%26ccb%3D7-5%26oh%3D00_AfDTqbs6nlO06i1rekZZIeFbc37hod5pSmQUJYkAkG7Jww%26oe%3D63E47451%26_nc_sid%3D978cb9&time=1675562400&key=1feeb7ad8a7fc2e9e0c7dcc61f7dd4e1"  width="360px" height="360px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" >Nihalmai Joshna</h5>
        <img type ="button" id = "btnn" src="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png" width="12%" onclick="window.location.href='https://instagram.com/nihalmai_vaddadi?igshid=YmMyMTA2M2Y='">
      </div>
    </td>

    
    <td>
      <img class="card-img-top" src="https://cdn.inflact.com/media/326238266_693919265541986_1397026998267556283_n.webp?url=https%3A%2F%2Fscontent.cdninstagram.com%2Fv%2Ft51.2885-15%2F326238266_693919265541986_1397026998267556283_n.webp%3Fstp%3Ddst-jpg_e35_s1080x1080%26_nc_ht%3Dscontent.cdninstagram.com%26_nc_cat%3D102%26_nc_ohc%3DZzkl_TLESh0AX_3m0No%26edm%3DAPs17CUBAAAA%26ccb%3D7-5%26oh%3D00_AfAR3wwdAYLe0S6OfZqTUl7-ftwc5268VmBigrdRgePlTg%26oe%3D63E371A3%26_nc_sid%3D978cb9&time=1675562400&key=4bf3d5fac484d4651e52d610e4b3b025"  width="360px" height="360px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Prakhar Jain</h5>
        <img type ="button" id = "btnn" src="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png" width="12%" onclick="window.location.href='https://instagram.com/_jain__saab__?igshid=YmMyMTA2M2Y='">
      </div>
    </td>

    </table>
  </div>
{%endblock%}